@model IEnumerable<PharmacyStore.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories List</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-sm btn-outline-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.CategoryID" class="btn btn-sm btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
